footer {
  padding: 20px;
  background: #333;
  color: #fff;
  text-align: center;
}

footer .quick-links,
footer .contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer .social-media {
  margin-bottom: 20px;
}

footer .social-media a {
  margin: 0 10 px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}
